.navbar-brand span,
#carousel-example-generic .carousel-caption h2 span,
.option-box h4 span,
#carousel-testemonials-generic .carousel-inner .item .content p span,
#carousel-testemonials-generic .carousel-inner .item .content .name,
.contact .overlay .h1 .contact-icon,
.footer h3,
.custom-heading span,
.footer .copy a,
.scroll-top .fa-fighter-jet {color: #f3c623}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus ,
.features .feat .feat-icon ,
#carousel-example-generic .carousel-caption button,
.navbar-inverse .navbar-nav > .open > a:focus {background-color: #f3c623}